aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
colorama==0.4.6
discord.py==2.7.1
frozenlist==1.8.0
idna==3.13
iniconfig==2.3.0
multidict==6.7.1
packaging==26.2
platformdirs==4.9.6
pluggy==1.6.0
propcache==0.4.1
psutil==7.2.2
Pygments==2.20.0
pytest==8.4.2
python-dotenv==1.2.2
typing_extensions==4.15.0
yarl==1.23.0
